img{
    width:250px;
    height:250px;
}
h1{
    text-align:center;
    background-color:#2A2A2A;
    color:white;
    padding:10px;
    font-family:arial;
    font-size:75px;
}
table, tr, td{
    text-align:center;
    border:1px solid black;
}
b{
    font-family:arial;
}
body{
    margin-left:155px;
    margin-right:155px;
    margin-bottom:155px;
}